<html lang="en">
<head>
  <meta charset="utf-8"/>

  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


  {% block headin %}
  {% endblock %}

</head>

<body>
    <div id="p_prldr"><center><div class="contpre">
  <span class="svg_anm"></span>
  <img src="{% static 'gif.gif' %}"alt="archproject" id='blabla'>
</div></center></div>

{% block body %}
{% endblock %}

  <!--Preloader-->

  <script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut();
    $preloader.delay(500).fadeOut('slow');
});</script>
</body>
