.contact-section, .form-header {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-header {
  margin-top: 0;
  color: #464646;
}


.second-header{
  margin: 5px;
  margin-top: 20px;
  color: #464646;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.contactform {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

input, textarea {
  font-family: Roboto-Thin, sans-serif;
}

.contactinfo {
width: 100%;
margin-right: auto;
margin-left: auto;
}

.contactform input, .contactform textarea {
  border: 1px solid #bebebe;
  font-size: 13px;
  color: #464646;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border-radius: 0;
}

.contactform textarea {
  margin-top: 10px;
  min-height: 150px;
  max-width: 100%;
}

.contactform input:hover, .contactform textarea:hover {
  border: 1px solid #999;
}

.contactform input:focus, .contactform textarea:focus {
  border: 1px solid #999;
}

#submit {
  background-color: #fff;
  color: #464646;
  width: 30%;
  float: right;
}

#submit:hover {
  cursor: pointer;
  border: 1px solid #999;
}

.form-actions {
  padding-bottom: 20px;
    height: 50px;
    width: 100%;
}

.contact-link {
  font-size: 13px;
}


  .contact-section {
      max-width: 750px;
      padding: 10px;
  }

#form .form-half {
  margin: 10px;
}

#form .form-group {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px 0 -10px;
}

#submit, #id_message, #id_name, #id_email {
  border-radius: none;
  -webkit-appearance: none;
}

.contactlinks {
  display: flex;
  justify-content: space-between;
}

.contactlink-uno {
  width: 25%;
  padding-bottom: 30px;
}

.contact-icon {
  color: #999;
  font-size: 25px;
  padding: 15px;
}

.contact-icon:hover {
  color: #464646;
  cursor: pointer;
}
.contact-name {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
}

.contact-text {
  color: #999;
  font-size: 13px;
}

@media (max-width: 767px) {
  .contactlinks {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  .contactlink-uno {
    width: 100%;
    padding-bottom: 20px;
  }

  .contact-icon {
    color: #999;
    font-size: 25px;
    padding: 10px;
  }

  .contact-icon:hover {
    color: #464646;
    cursor: pointer;
  }
  .contact-name {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
  }

  .contact-text {
    color: #999;
    font-size: 13px;
  }
}
