{% extends "ru/ruindex.html" %}
{% load staticfiles %}

{% block headinua %}
  <title>КОНТАКТЫ | ARCHIPROJECTS</title>
  <link rel="stylesheet" href="{% static 'css/contact.css' %}"/>
{% endblock %}


{% block content %}
<div class="lang">
  <ul class="lang-list">
    <li id="lang-ua"><a href="/contact/">UA</a></li>
    <li>|</li>
    <li id="lang-ru" class="active-item"><a href="/ru/contact/">RU</a></li>
    <li>|</li>
    <li id="lang-en"><a href="/en/contact/">EN</a></li>
  </ul>
</div>
</div>
</header>

<nav class="menu">
<ul class="menu-list">
<li id="menu-home"><a href="/ru/">ГЛАВНАЯ</a></li>
<li id="menu-projects"><a href="/ru/projects/">ПРОЕКТЫ</a></li>
<li id="menu-contact" class="active-item"><a href="/ru/contact/">КОНТАКТЫ</a></li>
</ul>
</nav>

<div class="contact-wrap">

      <div class="contactform">
        <h3 class="form-header">Связаться</h3>
          <form id="form" method="post">
              {% csrf_token %}
              <input type="text" name="name" required id="id_name" placeholder="Имя"/>
              <input type="email" name="email" id="id_email" placeholder="E_MAIL"/>
              <textarea type="text" name="message" required id="id_message" placeholder="Сообщение"></textarea>

              <div class="form-actions">
                  <input id="submit" type="submit" value="ОТПРАВИТЬ">
              </div>
          </form>
     </div>

     <div class="contactinfo">
       <h3 class="form-header">Наши контакты</h3>
       <p class="contact-link"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +380934570504</p>
       <p class="contact-link"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +380934570504</p>
       <p class="contact-link"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +380934570504</p>
       <p class="contact-link"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> office@archiproject.com.ua</p>
       <p class="contact-link"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> office@archiproject.com.ua</p>
    </div>

</div>


{% endblock %}
