{% extends "ru/ruindex.html" %}
{% load staticfiles %}
{% block headinua %}
  <title>ГЛАВНАЯ | ARCHIPROJECTS</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

<link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'owl/owl.theme.default.min.css' %}">

{% endblock %}

{% block content %}
<nav class="menu">
  <ul class="menu-list">
    <li id="menu-home" class="active-item"><a href="/ru/">ГЛАВНАЯ</a></li>
    <li id="menu-projects"><a href="/ru/projects/">ПРОЕКТЫ</a></li>
    <li id="menu-contact"><a href="/ru/contact/">КОНТАКТЫ</a></li>
  </ul>
</nav>

  </div>
</header>


<section id="slider">

  <div class="owl-carousel owl-theme">
    {% for I in Images %}
        <div  class="item" style="background-image:url('{{ I.img.url }}')"></div>
    {% endfor %}
  </div>

</section>

<section class="about-section">
  <div class="text-block">
    История нашей мастерской началась в 2003 году.  Коллектив формировался постепенно, но целенаправленно и каждый у нас на своём месте.
    Основателем и бессменным идейным лидером  нашей команды является Чернятивич Н.Г. – успешный архитектор и преподаватель КНУСиА .
    Под ее   четким  руководством и была сформирована основная линия нашей проектной организации.
  При создании проектов, наши архитекторы используют лучшие компьютеры и программное обеспечение.
  Благодаря этому мы выполняем нашу работу быстро и качественно. Каждый из нас является самостоятельной творческой единицей,
  при этом мы слажено и грамотно работаем  в команде. За нами многолетний опыт сотрудничества с крупными строительными фирмами,
  проектирование   коттеджей, многоквартирных домов, интерьеров, малых архитектурных форм, ландшафтов, парков, и даже гражданских
  и общественных зданий. Одним из важнейших  аспектов   деятельности  группы является взаимосвязь с заказчиком.  Мы стараемся
  как можно лучше прочувствовать и понять клиента, внедряя все его  желания в создаваемый нами гармоничный архитектурный ансамбль.
  </div>
</section>

</br>
</br>

<section class="about-section">
  <div class="team" >

          {% for P in People %}
          <div class="team-uno">
            <img src="{{ P.img.url }}" />
            <div class="team-name">{{ P.name_ru }}</div>
          </div>
          {% endfor %}
  </div>
</section>

</br>
</br>

<footer>
  <div class="container">
<div class="lang">
  <ul class="lang-list">
    <li id="lang-ua"><a href="/">UA</a></li>
    <li class="lang-none">|</li>
    <li id="lang-ru" class="active-item"><a href="/ru/">RU</a></li>
    <li class="lang-none">|</li>
    <li id="lang-en"><a href="/en/">EN</a></li>
  </ul>
</div>


{% endblock %}

{% block scriptin %}
<script src="{% static 'owl/owl.carousel.min.js' %}"></script>

<script>
  $('.project-block').hover(function(){
      $(this).toggleClass('active-image');
  });
</script>


<script>
$('.owl-carousel').owlCarousel({

    center: true,
    items: 1,
    loop: true,
    margin: 30,
    responsive: {
      1000: {
        items: 3
      }
    },
    autoplay: true,
    autoplayTimeout: 4000,

    mouseDrag: false

});
</script>
{% endblock %}
