{% extends "en/enindex.html" %}
{% load staticfiles %}

{% block headinua %}
  <title>{% for P in Project %}{{ P.name_en }}{% endfor %} | ARCHIPROJECTS</title>
  <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
      <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'popup/magnific-popup.css' %}">
    <!-- Magnific Popup core JS file -->
    <script src="{% static 'popup/jquery.magnific-popup.js' %}"></script>

{% endblock %}


{% block content %}
<div class="lang">
  <ul class="lang-list">
    {% for P in Project %}
    <li id="lang-ua"><a href="/projects/{{P.category}}/{{P.pk}}/">UA</a></li>
    <li class="lang-none">|</li>
    <li id="lang-ru"><a href="/ru/projects/{{P.category}}/{{P.pk}}/">RU</a></li>
    <li class="lang-none">|</li>
    <li id="lang-en" class="active-item"><a href="/en/projects/{{P.category}}/{{P.pk}}/">EN</a></li>
    {% endfor %}
  </ul>
</div>
</div>
</header>

<nav class="menu">
<ul class="menu-list">
<li id="menu-home"><a href="/en/">HOME</a></li>
<li id="menu-projects" class="active-item"><a href="/en/projects/">PROJECTS</a></li>
<li id="menu-contact"><a href="/en/contact/">CONTACT</a></li>
</ul>
</nav>


<header class="projects-type">
  {% for P in Project %}
  <h2 class="second-header">{{ P.name_en }}</h2>
  <div class="line"></div>
  <div class="project-line"></div>
  {% if P.year_en %}
    <p class="project-date"> {{ P.year_en }}</p>
  {% endif %}
  {% if P.location_en %}
    <p class="project-text">Location: {{ P.location_en }}</p>
  {% endif %}
  {% if P.architectors_en %}
    <p class="project-text">Architectors: {{ P.architectors_en }}</p>
  {% endif %}
  {% if P.photo_en %}
    <p class="project-text">Photo: {{ P.photo_en }}</p>
  {% endif %}
  {% if P.description_en %}
    <p class="project-text">{{ P.description_en }}</p>
  {% endif %}
  {% endfor %}
</br>
</header>

<section class="projects-wrapper">
  <div class="projects" >
    <div id="portfolio">
      {% for I in Images %}
      <div class="tile">
         <a href="{{ I.img.url }}" data-source="{{ I.img.url }}">
           <img src="{{ I.img.url }}" alt="" />
        </a>
      </div>
      {% endfor %}
    </div>

    <div style="clear:both;"></div>

  </div>
</section>



<script> $(function() {
		var selectedClass = "";
		$(".fil-cat").click(function(){
		selectedClass = $(this).attr("data-rel");
     $("#portfolio").fadeTo(100, 0.1);
		$("#portfolio div").not("."+selectedClass).fadeOut().removeClass('scale-anm');
    setTimeout(function() {
      $("."+selectedClass).fadeIn().addClass('scale-anm');
      $("#portfolio").fadeTo(300, 1);
    }, 300);

	});
});</script>

<script>
$(document).ready(function() {
	$('.tile').magnificPopup({
		delegate: 'a',
		type: 'image',
		closeOnContentClick: false,
		closeBtnInside: false,
		mainClass: 'mfp-with-zoom mfp-img-mobile',
		image: {
			verticalFit: true,

		},
    tClose: '',
		gallery: {
			enabled: true,
      tPrev: '', // title for left button
      tNext: '', // title for right button
      tCounter: '%curr% from %total%',
		},
		zoom: {
			enabled: true,
			duration: 300, // don't foget to change the duration also in CSS
			opener: function(element) {
				return element.find('img');
			}
		}

	});
});
</script>
<script>
$(document).ready(function() {
    $("button").removeAttr("title");
});
</script>


{% endblock %}
