@font-face {
  font-family: 'icomoon';
  src: url("fonts/IcoMoon.eot");
  src:
  url("fonts/IcoMoon.ttf") format("truetype"),
  url("fonts/IcoMoon.woff") format("woff"),
  url("fonts/IcoMoon.svg#filename") format("svg");
}

@font-face {
  font-family: 'GT-Walsheim-Pro-Trial-Thin';
  src: url("fonts/GT-Walsheim-Pro-Trial-Thin.otf");
}


@font-face {
  font-family: 'Open-Sans';
  src: url("fonts/Open-Sans.ttf");
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("fonts/Roboto-Light.ttf");
}


* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: Roboto-Thin, sans-serif;
  position: relative;
  padding-bottom: 30px;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #fff;
    z-index: 30;
}

#p_prldr img {
    position: relative;
    top:40vh;
    max-height: 20vh;
}



.mainheader {
  padding: 40px 0;
  padding-left: 7px;
  padding-right: 7px;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items:center;
}

footer .container {
    display: block;
}

@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

.soc-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-behance, .icon-twitter, .icon-facebook, .icon-instagram {
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-behance::before {
  content: "\eaa8";
}

.icon-twitter::before {
  content: "\ea96";
}

.icon-facebook::before {
  content: "\ea90";
}

.icon-instagram::before {
  content: "\ea92";
}

.soc-icons a {
  margin-left: 12px;
  color: #999;
  line-height: 30px;
  font-size: 10px;
}

.soc-icons a:hover {
  color: #464646;
}

.mainlogo {
  width: auto;
}

.mainlogo img{
  height: 20px;
  margin-right: 5px;
}

.log, .logo {
  display: none;
}

.active-logo {
  display: initial !important;
}

.mainlogo a {
    font-family: Roboto-Thin, sans-serif;
  color: #464646;
  font-size: 28px;
}

.mainlogo a:hover {
  opacity: 0.8;
}

.lang {
  width: 100%;
  display: none;
}

.lang-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.lang-list li {
  float: left;
  margin-left: 5px;
}

.lang-list a, .lang-list li {
  color: #999;
  line-height: 30px;
  font-size: 12px;
}

.lang-list a:hover {
  color: #464646;
}

.active-item a{
  color: #464646;
}

.container-button {
    display: inline-block;
    cursor: pointer;
    line-height: 50px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #999;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 3px);
    transform: rotate(-45deg) translate(-4px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}

.menu-list a, .menu-list li {
  color: #999;
  font-size: 10px;
  padding: 0 0 0 15px;
  text-transform: uppercase;
}

.menu-list a:hover {
  color: #464646;
}


@media (min-width: 768px) {
  .container-button {
      display: none;
  }
}

@media (max-width: 767px) {
  .container {
      display: block;
  }

  .mainheader {
    padding: 20px 0;
  }

  footer .soc-icons {
    display: flex;
    justify-content: center;
  }

  .container-button {
      width: 20%;
      padding-left: 20px;
  }

  .mainlogo {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }


  .lang-list a, .lang-list li {
    line-height: 25px;
    font-size: 12px;
  }
}

.menu-list {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: auto;
    list-style-type: none;
    padding: 0;
}


@media (max-width: 767px) {
  .menu-list {
    position: relative;
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    list-style-type: none;
    padding: 0;
    display: none;
  }

  .open {
    display: flex;
    margin-top: 20px;
  }

  .menu-list a, .menu-list li {
    font-size: 12px;
    padding: 5px;
  }
}

.active-item a{
  color: #464646;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
}
