.contact-wrap {
  margin-right: auto;
  margin-left: auto;
}

.contactform {
  width: 48%;
  float: left;
}

.contactinfo {
  width: 48%;
  float: right;
}

.line {
  border-bottom: 1px solid #bebebe;
}

.contactform input, .contactform textarea {
  background-color: rgba(190, 190, 190, 0.12);
  border: 0;
  border-left: 1px solid #bebebe;
  font-size: 15px;
  color: #464646;
  padding: 1vh;
  margin-bottom: 2vh;
  display: block;
  width: 100%;
  border-radius: 0;
}

.form-header {
  margin: 5px;
  margin-top: 20px;
  color: #464646;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: normal;
}

.contactform textarea {
  min-height: 12vh;
  max-width: 100%;
}

.contactform input:hover, .contactform textarea:hover {
  outline: 1px solid #bebebe;
}

.contactform input:focus, .contactform textarea:focus {
  outline: 1px solid #bebebe;
}

#submit:hover {
  background-color: #bebebe;
  color: #f3f3f3;
}

.form-actions {
  padding-bottom: 2vh;
}


@media (min-width: 768px) {
  .contact-wrap {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .contact-wrap {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .contact-wrap {
      width: 1170px;
  }
}
