.contact-section, .form-header {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-header {
  color: #999;
}


.second-header{
  margin: 5px;
  margin-top: 20px;
  color: #464646;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.contactform {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

input, textarea {
  font-family: Roboto-Thin, sans-serif;
}

.contactinfo {
width: 100%;
margin-right: auto;
margin-left: auto;
}

.contactform input, .contactform textarea {
  border: 1px solid #bebebe;
  font-size: 13px;
  color: #464646;
  padding: 5px;
  margin-bottom: 2vh;
  display: block;
  width: 100%;
  border-radius: 0;
}

.contactform textarea {
  min-height: 12vh;
  max-width: 100%;
}

.contactform input:hover, .contactform textarea:hover {
  border: 1px solid #999;
}

.contactform input:focus, .contactform textarea:focus {
  border: 1px solid #999;
}

#submit {
  background-color: #f3f3f3;
}

#submit:hover {
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #999;
}

.form-actions {
  padding-bottom: 2vh;
}

.contact-link {
  font-size: 13px;
}


  .contact-section {
      max-width: 550px;
      padding: 10px;
  }
