#slider {
  width: 100%;
  height: 500px;
  opacity:1;
  transition: opacity 5s;
}


#slider.fadeOut {
    opacity:0;
    transition: opacity 5s;
}

.last-projects, .about-section {
  margin-right: auto;
  margin-left: auto;
}

.gallery-item {
  display: none;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  align-items:center;
}

.projects a {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .last-projects, .about-section {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .last-projects, .about-section {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .last-projects, .about-section {
      width: 1170px;
  }
}

.text-block {
  margin-top: 10px;
  padding: 10px;
  background-color: #f3f3f3;
  color: #464646;
  text-indent: 10px;
  font-size: 17px;
  text-align: justify;
}


.second-header{
  margin: 5px;
  margin-top: 20px;
  color: #464646;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.line {
  border-bottom: 1px solid #999;
  width: 100px;
  margin: auto;
}

.project-block {
  min-width: 320px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.active-image .project-image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.project-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.788235294117647);
  opacity: 0;
  color: #464646;
  transition: all 0.5s ease;
  z-index: 2;
  -webkit-transition: all .5s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-image-hover:hover {
  opacity: 1;
}


.project-name  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  z-index: 6;
}

.project-details  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  transition: .5s ease;
}

.project-name h3 {
  margin: 0;
  position: absolute;
  bottom: 45px;
  left: 20px;
  color: #464646;
  font-size: 27px;
  font-weight: 400;
}

.project-details p {
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #464646;
  font-size: 20px;
  font-weight: 100;
}

.last-projects {
  padding-bottom: 100px;
}
