#slider {
  width: 100%;
  height: 30vw;
  opacity:1;
  transition: opacity 5s;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
}

.swiper-button-next {
  background-image:  url("right.png") !important;
}

.swiper-button-prev {
    background-image:  url("left.png") !important;
}

.last-projects, .about-section {
  margin-right: auto;
  margin-left: auto;
}



.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  align-items:center;
}

.projects a {
  margin-top: 30px;
}


@media (max-width: 767px) {
  #slider {
    height: 200px;
  }

}


@media (min-width: 768px) {
  .last-projects, .about-section {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .last-projects, .about-section {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .last-projects, .about-section {
      width: 1170px;
  }
}

.text-block {
  margin-top: 50px;
  padding: 10px;
  color: #464646;
  text-indent: 10px;
  font-size: 14px;
  text-align: justify;
}


.second-header{
  margin: 5px;
  margin-top: 20px;
  color: #464646;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.line {
  border-bottom: 1px solid #999;
  width: 100px;
  margin: auto;
}

.project-block {
  min-width: 320px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.active-image .project-image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.project-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.788235294117647);
  opacity: 0;
  color: #464646;
  transition: all 0.5s ease;
  z-index: 2;
  -webkit-transition: all .5s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-image-hover:hover {
  opacity: 1;
}


.project-name  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  z-index: 6;
}

.project-name h3 {
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #464646;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.last-projects {
  padding-bottom: 100px;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-uno {
  width: 18%;
}

.team-uno img {
  width: 100%;
  padding: 10px 5px;
}

.team-name {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 767px) {
  .team {
    flex-direction: column;
    justify-content: space-around;
  }

  .team-uno {
    width: 100%;
  }

  .team-uno img {
    padding: 20px 50px 5px 50px;
  }
}
