.services-wrap {
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 768px) {
  .services-wrap {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .services-wrap {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .services-wrap {
      width: 1170px;
  }
}


.service {
  display: none;
}

.active-service {
  display: block !important;
}
