{% extends "ua/index.html" %}
{% load staticfiles %}

{% block headinua %}
  <title>КОНТАКТИ | ARCHIPROJECTS</title>
  <link rel="stylesheet" href="{% static 'css/contact.css' %}"/>
{% endblock %}


{% block content %}
<nav class="menu">
<ul class="menu-list">
<li id="menu-home"><a href="/">ГОЛОВНА</a></li>
<li id="menu-projects"><a href="/projects/">ПРОЕКТИ</a></li>
<li id="menu-contact" class="active-item"><a href="/contact/">КОНТАКТИ</a></li>
</ul>
</nav>
</div>
</header>

<header>
  <h2 class="second-header">Нашi контакти</h2>
</header>

<section class="contact-section">
  <div class="contactlinks">
      <div class="contactlink-uno">
        <div class='contact-icon'>
          <i class="fas fa-phone"></i>
        </div>
        <div class='contact-name'>Телефон</div>
        <div class='contact-text'>+38(093) 457 05 04</div>
      </div>

      <div class="contactlink-uno">
        <div class='contact-icon'>
          <i class="far fa-envelope"></i>
        </div>
        <div class='contact-name'>e-mail</div>
        <div class='contact-text'>office@archiproject.com.ua</div>
      </div>

      <div class="contactlink-uno">
        <div class='contact-icon'>
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class='contact-name'>facebook</div>
      </div>

      <div class="contactlink-uno">
        <div class='contact-icon'>
          <i class="fab fa-instagram"></i>
        </div>
        <div class='contact-name'>instagram</div>
        <div class='contact-text'>archiproject_ukraine</div>
      </div>
   </div>

  <div class="contactform">
    <div class="form-header">Написати нам</div>
      <form id="form" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input class="form-half" type="text" name="name" required id="id_name" placeholder="Iм`я"/>
            <input class="form-half" type="email" name="email" id="id_email" placeholder="E_MAIL"/>
          </div>
          <textarea class="form-full" type="text" name="message" required id="id_message" placeholder="Повiдомлення"></textarea>

          <div class="form-actions">
              <input id="submit" type="submit" value="НАДIСЛАТИ">
          </div>
      </form>
 </div>
</section>

</br>
</br>

<footer>
  <div class="container">
<div class="lang">
  <ul class="lang-list">
    <li id="lang-ua" class="active-item"><a href="/contact/">UA</a></li>
    <li class="lang-none">|</li>
    <li id="lang-ru"><a href="/ru/contact/">RU</a></li>
    <li class="lang-none">|</li>
    <li id="lang-en"><a href="/en/contact/">EN</a></li>
  </ul>
</div>


{% endblock %}
