{% extends "ua/index.html" %}
{% load staticfiles %}
{% block headinua %}
  <title>ГОЛОВНА | ARCHIPROJECTS</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

{% endblock %}

{% block content %}
<nav class="menu">
  <ul class="menu-list">
    <li id="menu-home" class="active-item"><a href="/">ГОЛОВНА</a></li>
    <li id="menu-projects"><a href="/projects/">ПРОЕКТИ</a></li>
    <li id="menu-contact"><a href="/contact/">КОНТАКТИ</a></li>
  </ul>
</nav>

  </div>
</header>


<section id="slider">

  <div class="swiper-container">
  <div class="swiper-wrapper">

    {% for I in Images %}
        <div class="swiper-slide" style="background-image:url('{{ I.img.url }}')"></div>
        <div class="swiper-slide" style="background-image:url('{{ I.img.url }}')"></div>
        <div class="swiper-slide" style="background-image:url('{{ I.img.url }}')"></div>
        <div class="swiper-slide" style="background-image:url('{{ I.img.url }}')"></div>
    {% endfor %}
  </div>

  <!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>

</section>

<section class="about-section">
  <div class="text-block">
      Історія нашої майстерні почалася в 2003 році. Колектив формувався поступово, але цілеспрямовано і кожен у нас на своєму місці.
      Основателем і безперервним ідейним лидером нашої команди є Чернятевчич Н.Г. - успішний архітектор та викладач КНУБА.
      Під її чітким керівництвом і була створена основна лінія нашої проектної організації.
    При створенні проектів наші архітектори використовують кращі комп'ютери та програмне забезпечення.
    Завдяки цьому ми виконуємо нашу роботу швидко і якісно. Каждый из нас является самостоятельной творческой единицей,
    при цьому ми добре і добре працюємо в команді. За нами багаторічний досвід співпраці з великими будівельними фірмами,
    проектування котеджів, багатоквартирних будинків, інтер'єрів, малих архітектурних форм, ландшафтів, парків, і навіть
    громадських та громадських будівель. Одним з важливих аспектів діяльності групи є взаємозв'язок із замовником.
    Ми стараємось як можна краще прочитати і зрозуміти клієнта, впроваджуючи всі його бажання у створеному нами гармонічному архітектурному об'єднанню.
  </div>
</section>

</br>
</br>

<section class="about-section">
  <div class="team" >
          <div class="team-uno">
            <img src="{% static 'xxx.jpg' %}" />
            <div class="team-name">головний архітектор Чернятевич Н.Г.</div>
          </div>
          <div class="team-uno">
            <img src="{% static 'xxx.jpg' %}" />
            <div class="team-name">головний архітектор Чернятевич Н.Г.</div>
          </div>
          <div class="team-uno">
            <img src="{% static 'xxx.jpg' %}" />
            <div class="team-name">головний архітектор Чернятевич Н.Г.</div>
          </div>
          <div class="team-uno">
            <img src="{% static 'xxx.jpg' %}" />
            <div class="team-name">головний архітектор Чернятевич Н.Г.</div>
          </div>
          <div class="team-uno">
            <img src="{% static 'xxx.jpg' %}" />
            <div class="team-name">головний архітектор Чернятевич Н.Г.</div>
          </div>
  </div>
</section>

</br>
</br>

<footer>
  <div class="container">
<div class="lang">
  <ul class="lang-list">
    <li id="lang-ua" class="active-item"><a href="/">UA</a></li>
    <li class="lang-none">|</li>
    <li id="lang-ru"><a href="/ru/">RU</a></li>
    <li class="lang-none">|</li>
    <li id="lang-en"><a href="/en/">EN</a></li>
  </ul>
</div>


{% endblock %}

{% block scriptin %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

<script>
  $('.project-block').hover(function(){
      $(this).toggleClass('active-image');
  });
</script>


<script>
var is_mobile = false;

if( $('#some-element').css('display')=='none') {
    is_mobile = true;
}

var swiper = new Swiper('.swiper-container', {
  slidesPerView: is_mobile ? 1 : 2,

  spaceBetween: 30,
  centeredSlides: true,
autoplay: {
  delay: 2500,
  disableOnInteraction: false,
},

navigation: {
  nextEl: '.swiper-button-next',
  prevEl: '.swiper-button-prev',
},
});

</script>
{% endblock %}
