{% extends "ua/index.html" %}
{% load staticfiles %}
{% block headinua %}
  <title>ГОЛОВНА | ARCHIPROJECTS</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
    <div class="lang">
      <ul class="lang-list">
        <li id="lang-ua" class="active-item"><a href="/">UA</a></li>
        <li class="lang-none">|</li>
        <li id="lang-ru"><a href="/ru/">RU</a></li>
        <li class="lang-none">|</li>
        <li id="lang-en"><a href="/en/">EN</a></li>
      </ul>
    </div>
  </div>
</header>

<nav class="menu">
  <ul class="menu-list">
    <li id="menu-home" class="active-item"><a href="/">ГОЛОВНА</a></li>
    <li id="menu-projects"><a href="/projects/">ПРОЕКТИ</a></li>
    <li id="menu-contact"><a href="/contact/">КОНТАКТИ</a></li>
  </ul>
</nav>


<section id="slider">
  {% for I in Images %}
      <div class="gallery-item" style="background-image:url('{{ I.img.url }}')"></div>
  {% endfor %}

</section>

<header>
  <h2 class="second-header">про нас</h2>
</header>

<section class="about-section">
  <div class="text-block">
      Історія нашої майстерні почалася в 2003 році. Колектив формувався поступово, але цілеспрямовано і кожен у нас на своєму місці.
      Основателем і безперервним ідейним лидером нашої команди є Чернятевчич Н.Г. - успішний архітектор та викладач КНУБА.
      Під її чітким керівництвом і була створена основна лінія нашої проектної організації.
  </div>
  <div class="text-block">
    При створенні проектів наші архітектори використовують кращі комп'ютери та програмне забезпечення.
    Завдяки цьому ми виконуємо нашу роботу швидко і якісно. Каждый из нас является самостоятельной творческой единицей,
    при цьому ми добре і добре працюємо в команді. За нами багаторічний досвід співпраці з великими будівельними фірмами,
    проектування котеджів, багатоквартирних будинків, інтер'єрів, малих архітектурних форм, ландшафтів, парків, і навіть
    громадських та громадських будівель. Одним з важливих аспектів діяльності групи є взаємозв'язок із замовником.
    Ми стараємось як можна краще прочитати і зрозуміти клієнта, впроваджуючи всі його бажання у створеному нами гармонічному архітектурному об'єднанню.
  </div>
</section>


<header>
  <h2 class="second-header">останні проекти</h2>
</header>

<section class="last-projects">

  <div class="projects" >
    {% for P in Project %}
      <a href="{% url 'project' pk=P.pk category=P.category %}">
        <div class="project-block">
          <div class="project-image-hover">
            <div class="project-name"><h3>{{ P.name_ua }}</h3></div>
          </div>
          <div class="project-image" style="background-image:url('{{ P.img.url }}')"></div>
        </div>
      </a>
    {% endfor %}
</section>

{% endblock %}

{% block scriptin %}
<script>
  $('.project-block').hover(function(){
      $(this).toggleClass('active-image');
  });
</script>


<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("gallery-item");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(function() {
        fade();
    },4500);

    setTimeout(function() {
        carousel();
    },5000);
}

function fade() {
    document.getElementById('slider').className = "fadeOut";
    setTimeout(function() {
        document.getElementById('slider').className = "";
    },500);
}

</script>
{% endblock %}
