{% extends "indextemplate.html" %}
{% load staticfiles %}

  {% block headin %}
    {% block headinua %}
    {% endblock %}
  {% endblock %}


{% block body %}
  <header class="mainheader">
    <div class="container">
      <div class="soc-icons">
        <a href="https://www.instagram.com/" target="_blank" rel="nofollow">
          <span class="icon-instagram"></span>
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="nofollow">
          <span class="icon-facebook"></span>
        </a>
        <a href="https://www.behance.net/" target="_blank" rel="nofollow">
          <span class="icon-behance"></span>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="nofollow">
          <span class="icon-twitter"></span>
        </a>
      </div>
      <div class="container-button" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="mainlogo">
        <a href="/">ARCHIPROJECTS</a>
      </div>
      <div class="lang">
        <ul class="lang-list">
          <li id="lang-ua" class="active-item"><a href="/">UA</a></li>
          <li>|</li>
          <li id="lang-ru"><a href="/ru/">RU</a></li>
          <li>|</li>
          <li id="lang-en"><a href="/en/">EN</a></li>
        </ul>
      </div>
    </div>
  </header>

  <nav class="menu">
    <ul class="menu-list">
      <li id="menu-home" class="active-item"><a href="/">ГОЛОВНА</a></li>
      <li id="menu-projects"><a href="/archprojects/">АРХІТЕКТУРА</a></li>
      <li id="menu-design"><a href="/designprojects/">ДИЗАЙН</a></li>
      <li id="menu-services"><a href="/services/">ПОСЛУГИ</a></li>
      <li id="menu-contact"><a href="/contact/">КОНТАКТИ</a></li>
    </ul>
  </nav>


  {% block content %}
  {% endblock %}

  <!--Footer-->
  <footer>
    <div class="container">
      <div class="soc-icons">
        <a href="https://www.instagram.com/" target="_blank" rel="nofollow">
          <span class="icon-instagram"></span>
        </a>
        <a href="https://www.facebook.com/" target="_blank" rel="nofollow">
          <span class="icon-facebook"></span>
        </a>
        <a href="https://www.behance.net/" target="_blank" rel="nofollow">
          <span class="icon-behance"></span>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="nofollow">
          <span class="icon-twitter"></span>
        </a>
      </div>
    </div>
  </footer>
  <script>
    function myFunction(x) {
        x.classList.toggle("change");
        $(".menu-list").toggleClass("open");
    }
  </script>
  {% block scriptin %}


  {% endblock %}

{% endblock %}
